<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1278,338},{104,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a (1).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,328}</string>
                <key>spriteSourceSize</key>
                <string>{289,328}</string>
                <key>textureRect</key>
                <string>{{948,338},{289,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a (10).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,223}</string>
                <key>spriteSourceSize</key>
                <string>{245,223}</string>
                <key>textureRect</key>
                <string>{{534,338},{245,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a (2).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,380}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{422,569},{410,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a (3).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,267}</string>
                <key>spriteSourceSize</key>
                <string>{237,267}</string>
                <key>textureRect</key>
                <string>{{1125,629},{237,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a (4).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,293}</string>
                <key>spriteSourceSize</key>
                <string>{272,293}</string>
                <key>textureRect</key>
                <string>{{534,1},{272,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a (5).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,419}</string>
                <key>spriteSourceSize</key>
                <string>{384,419}</string>
                <key>textureRect</key>
                <string>{{1,569},{384,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a (6).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,165}</string>
                <key>spriteSourceSize</key>
                <string>{181,165}</string>
                <key>textureRect</key>
                <string>{{781,338},{181,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a (7).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,484}</string>
                <key>spriteSourceSize</key>
                <string>{335,484}</string>
                <key>textureRect</key>
                <string>{{834,1},{335,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a (8).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,531}</string>
                <key>spriteSourceSize</key>
                <string>{566,531}</string>
                <key>textureRect</key>
                <string>{{1,1},{566,531}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a (9).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,289}</string>
                <key>spriteSourceSize</key>
                <string>{323,289}</string>
                <key>textureRect</key>
                <string>{{834,629},{323,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>avatars.png</string>
            <key>size</key>
            <string>{1383,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd258af9d73ae9f3631160abae85365:7c091031516f9fc90d2c06b19fe1ddcb:3c000e9e2b3f3e7057744f27cc4e33a7$</string>
            <key>textureFileName</key>
            <string>avatars.png</string>
        </dict>
    </dict>
</plist>
