<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>numbers-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{68,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{345,1},{68,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{106,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{119,178},{106,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{106,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{237,1},{106,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{116,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{116,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{1,178},{116,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{106,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{227,178},{106,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{114,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{1,355},{114,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numbers-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{116,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{119,1},{116,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{106,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{335,178},{106,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numbers-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{106,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,269}</string>
                <key>textureRect</key>
                <string>{{178,355},{106,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>numbers.png</string>
            <key>size</key>
            <string>{442,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:399c2f618e00e3e51315f3a41c1a517a:c63f2544b43c8e711d1cb7257b916027:73cfa007bc07ad091e3f0b98e5b21293$</string>
            <key>textureFileName</key>
            <string>numbers.png</string>
        </dict>
    </dict>
</plist>
